@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


body {
  padding: 0;
  margin: auto;
  text-decoration:none;
  box-sizing: border-box;
  font-family: sans-serif;
  background: url("/images/img1.jpg");
  align-items: center;
   width: 960px; 
  -webkit-text-size-adjust: 100%;
}

#header {
  position: absolute;
  z-index: 990;
  width:100%;

}


.navbar {
  padding:  50px 0;
  text-align: right;
  align-items: right;
   width: 100%;
  height: 50px;
  transition: all .5s ease;
 
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5em;
  padding: 0px 0;
  float: left;
  margin-left: 2em;
  color: rgb(58, 61, 250);
  
}
 nav-link  {
  color:white;

  
}

 .nav-item {
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 20px;
  margin: 0 5px;
  color: black;
  
 }

.btn {
  background: #718093;
  color: #fff;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-left:2em;
  background-color:rgb(58, 61, 250);
  margin-top: 1em;
}

 .navbar-collapse {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  
}

.navbar-nav {
  color:white;
  padding:0;
    
}



.navbar-toggler{
background-color: rgb(190, 190, 197);
margin-right: 2em;


  
}


#main {
  position: relative;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 200px 0 0;
  background-image: float;
}

.alert {
  color: #000;
  margin-left: 0rem;
  padding: 0;
  background-color: rgb(139, 135, 127);
  
}

 .content {
font-size:20px; 
}

#main h2 {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 1.5em;
  padding: 0;
  font-size: 1.6em;
  color: #ebebdf;
  text-transform: uppercase;
  font-weight: 10;
  font-family: sans-serif;
  height: 20px;
  text-align: left;
}

 #main p {
  margin-top: 1em;
  padding: 0;
  font-size: 1em;
  color: #dcdde1;
  margin-left: 0em;
  margin-bottom: 0;

}

  .text-uppercase {
  color: #fff;
  padding: 0;
  margin: 0;
  margin-left: 1.5em;
  font-size: 30px;
  font-weight: 100;
  height:20px;
  align-content: center;
   
}

.blockquote  {
  color: #fff;
   margin-left: 2em;
   font-family: sans-serif;
   font-size: 18px;
   
}
.blockquote p {
  margin-left: 1.5rem;
  font-family: sans-serif;
   font-size: 18px;
   text-align: center;
   align-content: center;
  
}
.blockquote .fa:hover {
  color: #dcdde1;
  
}


@media (max-width: 992px) {
#main {
    padding: 0;
    

}

#main h2 {
  font-size: 1em;
  padding: 0;
    

}
}


#work-history {
  padding: 0;
  margin: 0;
}
  
   #work-history h3 {
  text-align: center;
  margin-left: 1.5em;
  margin-bottom: 1em;
  padding: 0;
  font-size: 1.6em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-family: sans-serif;
  height: 20px;

 }
  
 
.feature-widget {
  box-sizing: border-box;
  border-width: 100%;
  border: 10px solid white;
   margin-left: 1.5rem;
  color: white;
  border-radius: 60px 20px;
  font-size: 15px;
  padding-bottom: 20;
}

h3 .text-uppercase {
 text-align: center;
}

.titles {
  color: #fff;
}

.icon {
  color: #fff;
}


.footer-bar p {
  font-weight: 300;
  color: rgb(221, 27, 27);
  font-family: sans-serif;
  font-size: 15px;
  padding: 0;
  margin-bottom: 0;
  padding-right: 0%;
  
}

.footer-para {
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding-right: 20px;
}

.footer-logo {
font-size: 30px;
font-family: 'Dancing Script', cursive;
}

footer{
    margin-right: 0;
    
}
