@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



body {
  padding: 0;
  margin: auto;
  text-decoration:none;
  box-sizing: border-box;
  font-family: sans-serif;
   -webkit-text-size-adjust: 100%;
  overflow: visible;
  font-size: 16px;
  max-width: 1140px;
  background-position: center;
  overflow-x: hidden !important;
  display:block;
  
}

#main .row {
    margin: 0;
    padding:0;
}
#header {
  position: absolute;
  z-index: 990;
  max-width: 1140px;

}


.navbar {
  padding:  20px 0 0;
  text-align: right;
  align-items: right;
  width: 100%;
  height: 80px;
  transition: all .5s ease;
  background-color:rgb(216, 220, 231);
  margin: auto;
  
 
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5em;
  padding: 20px 0;
  float: left;
  margin-left: 2em;
  color: rgb(58, 61, 250);
  
}
 nav-link  {
  color:white;

  
}

 .nav-item {
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 20px;
  margin: 0 5px;
  color: black;
  
 }

.btn {
  background: #718093;
  color: #fff;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-left:2em;
  background-color:rgb(58, 61, 250);
  margin-top: 1em;
}

 .navbar-collapse {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  
}

.navbar-nav {
  
  margin: 0;
  
}

.navbar-toggler{
background-color: rgb(190, 190, 197);
margin-right: 2em;
  
}


#main {
  position: relative;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 0;
   margin-bottom: 0;
   max-width: 1140px;
}

.alert {
  margin-top: 0;
  color: #fff;
  margin-left: 0rem;
  padding: 0;
  background-color: rgb(87, 36, 228);
  }

  

#main h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.6em;
  color: #000;
  text-transform: uppercase;
  font-weight: 10;
  font-family: sans-serif;
  height: 20px;
  text-align: left;
}

 #main p {
  margin-top: 1em;
  padding: 0;
  font-size: 1em;
  color: #000;
  margin-bottom: 0%;
}

#main .container{
    margin-top: 100px;
}
#about-me .container{
    margin-top: 0;
    padding-top: 0;
    max-width: 1140px;
    align-items: center;

}

#about-me h2{
        
align-items: center;
margin-left: 0;

    }
  

.blockquote  {
  color: #000;
   margin: 0;
   font-family: sans-serif;
   font-size: 18px;
   align-items: center;
   padding-left: 15px;
   padding-right: 15px;
   max-width: 1140px;
   
}
.blockquote p {
  margin:0;
  font-family: sans-serif;
   font-size: 18px;
   text-align: center;
   align-items: center;
   max-width: 1140px;
   
  
}


@media(min-width: 992px) {
#main {
    padding: 0;
    padding-top: 30px;
    min-height: 200px;
    margin: 0 auto;
    max-width: 100%;
    
}

#main h2 {
  font-size: 1em;
  padding: 0;
    

}
}


#work-history {
  padding: 0;
  margin-left: 0;
  align-items: center;
  

}
#work-history .feature-widget{
 align-items: center;
}
  
  #work-history h3 {
  text-align: center;
  margin-left: 1.5em;
  margin-bottom: 1em;
  padding: 0;
  font-size: 1.6em;
  color: #000;
  text-transform: uppercase;
  font-weight: 100;
  font-family: sans-serif;
  height: 20px;

 }
  
 .text-uppercase {
  color: #000;
  padding: 0;
  margin: 0;
  margin-left: 1.5em;
  font-size: 30px;
  font-weight: 100;
  height:20px;
  align-content: center;
   
}
 
.feature-widget {
  border-width: 100%;
  border: 20px solid 000; 
  margin-left: 1.5rem;
  color: #000;
  border-radius: 20px 20px;
  font-size: 15px;
  padding-bottom: 20;
  max-width: 1140px;
  border-style: double;
  align-items: center;
  margin-right: auto;
}



h3 .text-uppercase {
 text-align: center;
}

.titles {
  color: #000;
}

.icon {
  color: #000;
}

#projects {
    margin-top: 50px;
    margin-left: 0;

}

.card-body {
   box-sizing: border-box;
   max-width: 1140px;
    
}

.card-body img {
    height: 233px;
    object-fit: cover;
}


.footer-bar {

    height: 50px;
    width: 100%;

}
.footer-bar p {
  font-weight: 300;
  color: rgb(175, 41, 41);
  font-family: sans-serif;
  font-size: 15px;
  padding: 0;
  margin-bottom: 0;
  padding-right: 0%;
  
}

.footer-para {
  color: rgb(175, 41, 41);
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding-right: 20px;
}

.footer-logo {
font-size: 30px;
font-family: 'Dancing Script', cursive;
}
